body {
	background-color: rgb(235, 235, 235);	
	min-width: 768px;
}

#header {
	width: 100%;
	height: 75px;
	line-height: 75px;
	text-align: center;
	border: 1px black solid;
}

#title {
	float: left;
	width: 75%;
}

#title .title-top {
	height: 50%;
	line-height: 36px;
	text-align: left;
	padding-left: 16px;
	border-bottom: 1px solid black;
}

#title .title-bottom {
	height: 50%;
	line-height: 36px;
	text-align: left;
	padding-left: 16px;
}

.planning-mode {
	float: right;
	margin-right: 13px;
}

#logo {
	float: left;
	border-left:1px black solid;
	width: 25%
}

#content {

}

.arrow.collapsed {
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;	
	border-left: 20px solid rgb(66, 66, 66);
	float: left;
	margin: 10px 15px 0px 8px;
}

.arrow.expanded {
	border-top: 20px solid rgb(189, 14, 14);
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	float: left;
	margin: 10px 15px 0px 8px;
}

.remove {
	width: 20px;
	color: rgb(231, 47, 47);
	font-size: 16pt;
	font-weight: bold;
	margin-right: 5px;
	float: right;
}

.form-item {
	margin: 30px 15px;
}

.form-tag {
	width: 24%;
	text-align: right;
	padding: 7px 10px 0px 0px;
	padding-right: 10px;
	float: left;
	vertical-align: middle;
}

/* Logging */
.exercise-main, .exercise-main-remove, 
.exercise-set, .exercise-set-remove, 
.exercise-main-current, .exercise-main-current-remove, 
#add-exercise, .muscle-group, .exercise,
.workout-detail, .student-wrapper, .class-wrapper {
	background-color: gray;
	height:40px;
	line-height: 40px;
	border-bottom: 1px black solid;
	color: whitesmoke;
}

.exercise-main-current, .exercise-main-current-remove {
	background-color: black;
}

.exercise-name, .set-number, .mini-title, .reps, .weight, .workout-name {
	float: left;
	color: whitesmoke;
}

.logging-area {
	background-color: lightgrey;
	text-align: center;
}

.exercise-set, .exercise-set-remove, .workout-detail {
	width: 85%;
	margin-left: 15%;
	border: 1px black solid;
	border-top: 0px;
}

.set-number, .exercise-detail-name {
	margin: 0px 80px 0px 15px;
	float: left;
}

.log-section {
	width: 18%;
	float: left;
}

.mini-title {
	margin-right: 20px;
}

.scroll-wheels {
	margin-left: 15%;
	height: 75px;
	width: 85%;
}

.scroll-wrapper {
	float: right;
	margin: 10px 140px 0px 0px;
}

.scroll-wheel {
	color: white;
	width: 50px;
	height: 50px;
	line-height: 50px;
	float: left;
	background-color: maroon;
	margin: 15px 0px 0px 100px;
	border-radius: 30px;
}

.scroll-wheel.scroll-wheel-weight {
	width: 80px;
}

#add-exercise {
	padding-left: 20px;
	border-top: 1px black solid;
}

/* dynamic.html */
#add-new-set-container {
	width: 100%;
	text-align: left;	
}

.muscle-group-name, .student-class, .class-section, .student-name {
	margin-left: 20px;
	float: left;
}

.nav-arrow-right {
	float: right;	
	height: 20px;
	margin: 10px 7px;
}

.video-link {
	height: 40px;
	float: left;
	margin: 0px 15px 0px 10px;	
}

/* Loading Workout */
.workout-name {
	margin-right: 80px;
}

/* Coach Student View */
.class-time {
	float: left;
	margin-left: 20px;
}

/* Search Pages */
.basic-search-wrapper {
	height: 200px;
}

.search-criteria {
	width: 100%;	
	height: 43px;
}

.search-plans-only {
	float: left;	
	margin: 10px 0px 0px 10px;
}

#search-tag {
	margin: 0px 0px 6px 10px;	
}

.advanced-search-link {
	float: right;
	margin: 10px 35px 0px 0px;
}

#search-input-wrapper {
	width: 75%;
	padding: 15px 15px 0px 20px;
	float: left;
}


/* Button Wrappers */
#registration-buttons-wrapper {
	text-align: right;
}

#main-buttons-wrapper {
	width: 60%;
	margin: 30px auto;
	text-align: center;
}

#workout-complete-wrapper, #load-wrapper {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 65px;
}

.remove-buttons-wrapper {
	margin-right: 10px;
	float: right;	
}

.logging-buttons-wrapper {
	width: 100%;
}

.search-buttons-wrapper {
	width: 23%;	
	float: left;
	margin-top: 31px;
}

#advanced-search-buttons-wrapper {
	text-align: right;
	margin: 0px 17px 30px 0px;
}

/* BUTTONS */
.logging-btn, .new-set-btn, #workout-complete-btn {
	width: 25%;
	margin: 10px 10px 15px 10px;
}

.submit-btn {
	margin: 0px 10px;
	width: 30%
}

.main-btn {
	width: 80%;
	margin: 20px 0px;
	height: 70px;
}	

.remove-btn, .cancel-btn {
	margin-top: 4px;
	margin-right: 5px;
	padding: 5px 10px;	
}

.cancel-btn {
	padding: 5px 15px;
}

.new-set-btn {
	width: 30%;
	margin-left: 15%;	
}

#workout-complete-btn, #load-btn {
	width: 30%;
	float: right;
	margin: 10px;
	/* If we want it always on the bottom no matter what */ 
	/*
	position: fixed;
	right: 10px;
	bottom: 10px; */
}

#workout-complete-btn.disabled, bnt.disabled {
	background-color: gray;
	background-image: none;
}

.search-btn, .cancel-search-btn {
	width: 100%;
	margin: 10px 0px;
}

/* Fix for mis-aligned list items */
#popover {
	clear: left;
	margin-top: -1px;
	width: 100%;
	display: inline-block;	
}

.clearfix {
	clear: both;
}

.scroll-title {
	float: left;
	margin: 24px 25px 0px 80px;	
}